* {
    padding: 0;
    margin: 0
}

*::after, *::before {
    padding: 0;
    margin: 0
}

ul {
    list-style-type: none
}

.sub-menu-parent {
    position: relative;
}

.sub-menu {
    position: absolute;
    top: 100%;
    transform: translateY(-460px);
    transition: all .6s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear .01s;
    visibility: hidden;
    opacity: 0;
    z-index: -1
}

.sub-menu-parent:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0)

}

.sub-menu li a {
    width: 80%;
    text-align: center;
    background: #f3f3f3;
}

nav > ul {
    background: #f3f3f3;
}

nav > ul > li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 20px 44px;
    color: #666;
    text-align: left;
    text-decoration: none;
}

.active {
    background: #008CBA;
    color: #fff
}

nav ul li a:hover {
    background: #fff;
    color: #008CBA
}
